:root{
    /*Colores*/
    /*COLORES PRIMARIOS*/
    --colorPrincipal: hsl(171, 66%, 44%);
    --colorSecundario: hsl(233, 100%, 69%);

    /*Neutral*/
    --neutralPrincipal: hsl(210, 10%, 33%);
    --neutralSecundario: hsl(201, 11%, 66%);


    /*TAMAÑO DE FUENTE*/
    --letraGrande: 3.6rem;
    --letraMediana: 2.4rem;
    --letraNormal: 1.8rem;
    --letraSmall: 1.6rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 62.5%;
}
